.footer {
    background-color: black;
    color: #eafd6c;
    bottom: 0;
    width: 100%;
    top: 43rem;
}

 .footer h6 {
    text-decoration: underline;
    font-size: 22px;
}
.icons {
    display: inline-grid;
    grid-gap: 14px;
}

  
   

